@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@font-face {
    font-family: Friz Quadrata;
    src: url(../fonts/FrizQuadrata_Regular.ttf);
}

body {
    margin: 0px;
}

section#login {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-login > h1, p {
    color: #FFD900;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
    margin: 5px 0px;
}

.info-login {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-block {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFD900;
    box-shadow: 3px 3px 0px #b59a008a;
    border-radius: 25px 0px;
}

.login-block > h1 {
    font-family: Friz Quadrata;
    color: #000;
    font-weight: 800;
    margin: 0;
}

.flex-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #000;
    font-size: 12pt;
    color: #f0fffb;
    box-shadow: 3px 3px 0px #b59a00;
    outline: none;
    box-sizing: border-box;
}

.text-field > input::placeholder{
    font-size: 15px;
    color: #fff6c662;
}

.text-field > label {
    font-family: Friz Quadrata;
    font-weight: 500;
    margin: 9px 0px 0px 8px;
    color: #000;
}

.login-btn {
    padding: 10px 5px;
    margin: 10px 0px 0px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: Friz Quadrata;
    font-weight: 600;
    background-color: #000;
    color: #ffef5c;
    letter-spacing: 2px;
    box-shadow: 3px 3px 0px #b59a00;
    cursor: pointer;
}

.login-btn:hover{
    color: white;
}

.login-btn:active{
    opacity: 0.8;
}