@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.main-conteudo {
    position: relative;
    background-color: #000;
    color: #FFD900;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.main-title {
    font-family: "Cinzel Decorative", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-feedback img {
    width: 1000px;
    border-radius: 50px;
}

.main-conteudo a {
    color: #FFD900;
}


.main-conteudo a:hover {
    color: #FFF;
}