* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #1E1E2E;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.main-menu.active~.main-conteudo {
    left: 250px;
    width: calc(100% - 250px);
}

.main-menu.active {
    width: 250px;
}

.main-menu #menu-btn {
    position: absolute;
    color: #FFE533;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.main-menu #menu-btn:hover{
    color: #FFF;
}

.main-menu.active #menu-btn {
    left: 90%;
}

.main-menu .top-menu .menu-logo {
    color: #FFE533;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    height: 50px;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

.top-menu .menu-logo i {
    padding: 0px 10px 0px 0px;
}

.main-menu.active .top-menu .menu-logo {
    opacity: 1;
}

.top-menu .menu-logo {
    font-size: 1.5rem;
    margin-right: 5px;
}

.main-menu ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
}

.main-menu ul li a {
    color: #FFE533;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.3rem;
}

/*.main-menu ul li a i{
    margin: 10px;
}*/

.main-menu ul li a:hover {
    background-color: #FFF;
    color: #1E1E2E;
}

.main-menu ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.main-menu .menu-iten {
    opacity: 0;
}

.main-menu.active .menu-iten {
    opacity: 1;
}

.main-menu ul li .fast-access {
    position: absolute;
    left: 125px;
    top: 50%;
    color: #FFE533;
    transform: translate(-60%, -60%);
    box-shadow: inset #FFE533 0px 0px 0px 1px;
    border-radius: 0.5rem;
    margin: 10px;
    padding: .4rem 1.2rem;
    text-align: center;
    z-index: 20;
    opacity: 0;
}

.main-menu ul li:hover .fast-access {
    opacity: 1;
}

.main-menu.active ul li .fast-access {
    display: none;
}