@charset "UTF-8";

@font-face {
    font-family: Undertale;
    src: url(../FONT/Undertale-Mono.otf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    background-color: #000;
}

.estrelas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: brilhar 100s linear infinite;
    z-index: -1;
    pointer-events: none;
}
  
@keyframes brilhar {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}

.dancin-esq,
.dancin-dir{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dancin-esq img,
.dancin-dir img {
    height: 150px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.playlist {
    margin-top: 20px;
}

.bloco2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* ocupa o espaço restante da .bloco1 */
    width: 100%;
}

.cartao {
    margin-top: 20px;
}

.cartao img{
    height: 25vh;
    object-fit: contain;
}

.cartao img:hover {
    animation: dancaGatinho 1s;
    animation-iteration-count: infinite;

    cursor: pointer;
    opacity: 95%;
  }
  
@keyframes dancaGatinho {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.frase {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: 500;
    margin: 8px;
    
}

.espaco {
    flex-grow: 1; /* ocupa o espaço entre cartao e creditos */
}

.creditos {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.creditos p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 5px;
}

.creditos img {
    margin: -4px 1px;
}